name: Deploy
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build
        run: make
      - name: Running tests
        run: |
          chmod +x scripts/test.sh
          ./scripts/test.sh
      - name: Build .deb package
        run: |
          chmod +x scripts/package.sh
          ./scripts/package.sh
      - name: Upload .deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: reverse-words.deb

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download .deb artifact
        uses: actions/download-artifact@v4
        with:
          name: deb-package
          path: .
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/reverse-words:1.0 .
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/reverse-words:1.0
